<!doctype html>
<html ng-app="indexApp">

	<head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js" ></script>
	
	</head>
	
	<body>
		
		<div class="container page" ng-controller="tweetRead">
			<nav class="navbar fixed-top">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
						<span class="sr-only">Toggle navigation</span>
					</button>
					<a class="navbar-brand" href="index.html">Lab4</a>
				</div>
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="nav navbar-nav">
					</ul>
					
				</div>
			</nav>
            <form class="navbar-form navbar-right">
                <input class="form-control mr-sm-2" type="text" ng-model="q" aria-label="Search">
                <input class="form-control mr-sm-2" type="number" ng-model="count" aria-label="Count">
                <input class="btn btn-outline-success my-2 my-sm-0" ng-click='search($event)' type="submit" name="search" value="Search">
                <input class="btn btn-outline-success my-2 my-sm-0" ng-click='getVisualization()' type="submit" name="vis" value="Visualize">
                
            </form>
            
            <canvas id="myChart" width="400" height="300" style="background-color: rgb(200, 200, 200)"></canvas>
            
            <canvas id="myChart2" width="400" height="300" style="background-color: rgb(200, 200, 200)"></canvas>
            
            <!-- <canvas id="myChart3" width="400" height="300" style="background-color: rgb(200, 200, 200)"></canvas> -->
            
			<footer class="footer">
			
			</footer>
		
		</div>

		<!-- Placed at the end of the document so the pages load faster -->
		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
		<script src="angular.js"></script>
        

		<!-- Bootstrap core CSS -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

		<!-- Custom styles for this template -->
		<link href="lab4.css" type="text/css" rel="stylesheet"/>
			
	</body>
	
</html>